.random-taco-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 89vh;
  background-color: #F5DBB4;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.random-curated-taco,
.random-wacky-taco,
.save-taco
 {
  font-size: 1.3rem;
  width: 10rem;
  background-color: #6C969A;
  color: #black;
  border-radius: .5rem;
}

.back-to-home,
.view-saved-tacos {
  font-size: 1.3rem;
  width: 10rem;
  height: 100%;
  background-color: #6C969A;
  color: #black;
  border-radius: .5rem;
}

.section-title {
  margin-top: 1rem;
  width: 30%;
  border-radius: 5px;
  border-style: groove;
  text-align: center;
  background-color: #414240;
  font-size: 2rem;
  color: #4CC6B3;
}

.successful-save {
  margin: 0%;
}
