.total-recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  border: solid black .6rem;
  min-width: 640px;
  height: 70%;
  max-width: 1100px;
  margin: 1rem;
  border-radius: 5px;
  background-color: #B04E65;
}

.title-and-recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  color: #F6E9BB;
}

.ingredient-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ingredient-recipe {
  width: 70%;
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #F6E9BB
}

.ingredient-name {
  font-size: 1.5rem;
  width: 30%;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #F6E9BB
}

.delete-taco {
  font-size: 1.3rem;
  width: 10rem;
  height: 100%;
  background-color: #6C969A;
  color: black;
  border-radius: .5rem;
}

@media screen and (max-width: 1150px) {
  .total-recipe-container {
    width: 800px;
  }

  .ingredient-recipe {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 850px) {
  .total-recipe-container {
    width: 360px;
    min-width: 0px;
  }

@media screen and (max-width: 470px) {
  .total-recipe-container {
    width: 300px;
    height: 400px;
    min-width: 0px;
  }
}
}
