.tiny-taco {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: .5rem;
  border: solid black 2px;
  border-radius: .5rem;
  height: 16rem;
  width: 16rem;
}

.tiny-taco-name {
  padding-left: .5rem;
  padding-right: .5rem;
  font-size: 1rem;
}

.tiny-taco-image {
  border: solid black 2px;
  height: 50%;
  width: 70%;
  margin: 0%;
  object-fit: cover;
}

.delete-saved,
.recipe-details {
  font-size: .9rem;
  height: 80%;
  width: 50%;
  background-color: #6C969A;
  color: #F5DBB4;
  border-radius: .5rem;
}

.tiny-taco-button-container {
  height: 20%;
  width: 80%;
  display: flex;
  justify-content: space-around;
}
